/* Naming Grid Lines */
.challenge {
    width: 1000px;
    margin: 30px auto;

    display: grid;
    /* Naming with [] */
    grid-template-rows: [header-start] 100px [header-end box-start] 
                        200px [box-end main-start] 
                        400px [main-end footer-start]
                        180px [footer-end];
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
    grid-gap: 30px;
}

.div{
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-column: col-start 1 / grid-end;
}

.sidebar {
    grid-column: col-end 3 / grid-end;
    grid-row: box-start / main-end;
}

.main-content {
    grid-column:  col-start 1 / col-end 3;
}

.footer {
    grid-column: col-start 1 / grid-end;
}