/* Naming Grid Areas */
.challenge {
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows:  100px 200px 400px 180px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-gap: 30px;

    /* Naming Grid Areas */
    grid-template-areas: "head head head head"
                         "box box box side"   
                         "main main main side"
                         "foot foot foot foot";
}

.div{
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.main-content {
    grid-area: main;
}

.footer {
    grid-area: foot;
}