.gallery {
    grid-column: full-start / full-end;
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);

    grid-gap: 1.5rem;
    padding: 1.5rem;

    &__item {

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

}