.story {

    &__pictures{
        background-color: $color-primary;
        grid-column: full-start / col-end 4;

        display: grid;
    }

    &__img--1 {
        width: 100%;
    }

    &__img--2 {
        width: 100%;
    }


    &__content{
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;
        
        
        /* Solution with Flexbox
        display: flex;
        flex-direction: column;
        //Aligns flex items along the main axis of the current line of the flex container.
        justify-content: center;
        //Default Stretch overried
        align-items: flex-start;
        */

        /* Solution with Grid */
        display: grid;
        align-content: center;
        justify-items: start;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
    
}