.container {
    background-color: #eee;
    width: 1800px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(2 ,150px );
    grid-template-columns: repeat(3,150px );

    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--1 {
    background-color: orangered;
}

.item--2 {
    background-color: greenyellow;
}

.item--3 {
    background-color: violet;
}

.item--4 {
    background-color: palevioletred;
}

.item--5 {
    background-color: blue;
}

.item--6 {
    background-color: burlywood;
}