/* A small collection of different buttons for future projects. Created by Martin Klestil 2020 */


/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Container */
.box {
  display: flex;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  background-color: white;
  margin: 2rem;
  justify-content: space-around;
  margin-bottom: 5rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}


/* Buttons */
.button {
  height: 3rem;
  width: 6rem;
}

.button__noBorder {
  border: none;
}

.button__roundBorder {
  border-radius: 10rem;
}

/* Buttons form the ff-michelhausen Projekt */

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
    color: black;
    

    border: none;
    cursor: pointer; 
}

.btn:hover {
  box-shadow: 0 1rem 2rem lightgrey;
}

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem lightgrey;
}
    
  .btn--white {
    background-color: #fff;
    color: #252525; 
}
  
  .btn--green {
    background-color: yellowgreen;
    color: #fff; 
}

.btn-text{
  font-size: 1.6rem;
  color: #B22222;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #B22222;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #B22222;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }