Projekt_Trillo/img/SVG-Entypo/
Projekt_Trillo/img/SVG-Entypo

Projekt_Nexter/node_modules/
Projekt_Nexter/node_modules
Projekt_Trillo/node_modules/
Projekt_Trillo/node_modules
Projekt_Natours/node_modules/
Projekt_Natours/node_modules

Project_Trillo/img/SVG-Entypo/
Project_Trillo/img/SVG-Entypo

Project_Nexter/node_modules/
Project_Nexter/node_modules
Project_Trillo/node_modules/
Project_Trillo/node_modules
Project_Natours/node_modules/
Project_Natours/node_modules

Grid/node_modules/
Grid/node_modules
/node_modules

Project_Natours/img/Auswechseln