.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    &__link:link,
    &__link:visited {
        font-size: $default-font-size;
    }
}