.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93), 
                        rgba($color-secondary, .93)), 
                        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-row-gap: 1.5rem;


    &__logo {
        height: 3rem;
    }

    &__btn {
        
    }

    &__seenon-text {

    }

    &__seenon-logos {

        img {
            height: 2.5rem;
        }
    }
}