.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;

    &__logo {

    }

    &__seenon-text {

    }

    &__seenon-logos {

        img {
            height: 2.5rem;
        }
    }
}