.container {
    background-color: #eee;
    width: 1800px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(5 , 150px);
    grid-template-columns: repeat(4, 1fr);

    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--header {
    background-color: orangered;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.item--1 {
    background-color: greenyellow;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item--2 {
    background-color: greenyellow;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item--3 {
    background-color: violet;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.item--sidebar {
    background-color: palevioletred;
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    
}

.item--main {
    background-color: blue;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.item--footer {
    background-color: burlywood;
    grid-column: 1 / -1;
    grid-row: 5 / -1;
}