.container {
    background-color: #eee;
    width: 1800px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: repeat(2 , 150px);
    /*grid-template-columns: repeat(2, 150px) 1fr;
    grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: repeat(3, 1fr);

    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--1 {
    background-color: orangered;
    /*
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    */
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.item--2 {
    background-color: greenyellow;
}

.item--3 {
    background-color: violet;
}

.item--4 {
    background-color: palevioletred;
}

.item--5 {
    background-color: blue;
    /*
    grid-row: 1 / 2;
    grid-column: 3 /4 ;
    */
    /* Zuerst die Start Werte dann die End Werte */
    grid-area: 1 / 3 / 2 / 4;
}

.item--6 {
    background-color: burlywood;
}