.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;
    
    grid-gap: 30px;

    grid-auto-rows: 80px;
    /*If specified, the auto-placement algorithm uses a “dense” packing algorithm, 
    which attempts to fill in holes earlier in the grid if smaller items come up later.*/
    grid-auto-flow: row dense;
    grid-auto-columns: .5fr;

    /* Align grid tracks to grid container */
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 200px);
    height: 1000px;

    /*Aligns flex items along the main axis of the current line of the flex container.*/
    justify-content: center;

    /*Similar to how 'justify-content' aligns individual items within the main-axis.*/
    align-content: center;

}

.item {
    padding: 20px;
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.item--4 {
    background-color: crimson;
    grid-row: 2 / span 3;

    align-self: start;
    justify-self: end;
}

.item--6 {
    background-color: lightcoral;
    grid-row: 2 / span 2;
}

.item--7 {
    background-color: palevioletred;
    grid-column: 1 / -1;
}