.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;
    /* max-content: Representing the largest maximal content contribution of the grid items occupying the grid track.
       min-content: Representing the largest minimal content contribution of the grid items occupying the grid track.
    */
    grid-template-columns: max-content 1fr 1fr min-content;
    /* minmax: Is a functional notation that defines a size range greater than or equal to min and less than or equal to max. 
    If max is smaller than min, then max is ignored and the function is treated as min. 
    As a maximum, a <flex> value sets the track’s flex factor. It is invalid as a minimum.*/
    grid-template-rows: repeat(2, minmax(150px, min-content));

}

.item {
    padding: 20px;
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}

.item--2{ background-color: green;}
.item--3{ background-color: violet;}
.item--4{ background-color: orange;}
.item--5{ background-color: pink;}
.item--6{ background-color: blue;}
.item--6{ background-color: grey;}
.item--7{ background-color: red;}