.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

}

.item {
    padding: 20px;
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;
}